$background: #f1f1f1;
$color-font: #2e2e2e;

$color-black-01: #1a1a1a;
$color-black-02: #2c2c2c;
$color-black-hover: #404040;
$color-yellow: #ffb60d;
$color-yellow-01: #fea;
$color-yellow-02: #e59317;
$color-gray: #9c9c9c;
$color-gray-01: #cccccc;
$color-gray-02: #f7f7f7;
$color-gray-03: #ededed;
$color-white: #fff;
$color-red: rgb(235, 69, 69);
$color-red-02: #e51717;

$width-sidebar-desk: 300px;
$font-poppins: "Poppins", sans-serif;

/*sweet-alert styles*/
.swal2-title {
  font-family: $font-poppins;
  font-size: 20px; /* Substitua pela cor desejada */
}

button:where(.swal2-styled).swal2-confirm {
  font-family: $font-poppins;
  background-color: $color-yellow !important; /* Substitua pela cor desejada */
  color: $color-black-01 !important; /* Substitua pela cor desejada */
}

button:where(.swal2-styled).swal2-cancel {
  font-family: $font-poppins;
  background-color: $color-gray !important;
  border: none !important;
}

.swal2-html-container {
  font-family: $font-poppins;
}
